spring:
  datasource:
    url: jdbc:postgresql://localhost/ProjectTimer
    username: postgres
    password: fortment
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    hibernate:
      ddl-auto: update
    open-in-view: true


server:
  port: ${PORT:8080}

springdoc:
  api-docs:
    path: /api-docs
